<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <block name="title"><title>工地人信息管理系统</title></block>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/jqm/jquery.mobile-1.4.5.min.css">
  <script src="__PUBLIC__/jquery/jquery-1.11.3.min.js"></script>
  <script src="__PUBLIC__/jqm/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
  <block name="page"></block>
  <block name="css"></block>
  <block name="javascript"></block>
</body>
</html>