<extend name="Public:base" />
<block name="title"><title>工人列表</title></block>
<block name="page">
  <div data-role="page" id="workerIndexPage">
    <div data-role="main">
      <input type="hidden" id="listRows" value="{$listRows|default=0}">
      <ul data-role="listview" data-inset="true" data-icon="false" id="workerUl">
        <notempty name="workerList">
        <volist name="workerList" id="data">
          <li>
            <a href="{:U('edit?id=' . $data['id'])}">
              <h4>{$data.realname}(<eq name="data.sex" value="1">男<else/>女</eq>)</h4>
              <p>状态：<eq name="data.status" value="1">在职<else/>离职</eq></p>
              <p>电话：{$data.telephone}</p>
              <p>技能描述：{$data.description}</p>
              <p class="ui-li-aside">{$data.worker_no}</p>
            </a>
            <div class="delete-btn" val="{$data.id}"><p>删 除</p></div>
          </li>
        </volist>
        <else />
          <li><h4>没有更多数据!</h4></li>
        </notempty>
      </ul>
      <div data-role="footer">
        <h3>©2015 工地人</h3>
      </div>
    </div>

  <div data-role="footer" data-position="fixed" class="my-footer">
    <div data-role="navbar">
      <ul>
        <li><a href="{:U('Index/index')}" data-icon="arrow-l"></a></li>
        <li><a href="{:U('Worker/add')}" data-icon="plus"></a></li>
        <li><a href="#searchPanel" data-icon="search"></a></li>
        <li><a href="#" data-icon="bars"></a></li>
      </ul>
    </div>
  </div>

  <div data-role="panel" id="searchPanel" data-display="overlay" data-position="right">
    <form method="post" action="{:U('search')}">
      <h2>条件筛选</h2>
      <input type="text" name="realname" id="realname" value="{$map.realname}" data-clear-btn="true" data-mini="true" placeholder="姓名">
      <input type="text" name="telephone" id="telephone" value="{$map.telephone}" data-clear-btn="true" data-mini="true" placeholder="电话">
      <div class="ui-field-contain">
        <fieldset data-role="controlgroup" data-type="horizontal">
          <input name="sex" id="sex-c" value="-1" type="radio" {:(!isset($map['sex']) || -1 == $map['sex']) ? 'checked' : ''}>
          <label for="sex-c">不限</label>
          <input name="sex" id="sex-a" value="1" type="radio" {:(isset($map['sex']) && 1 == $map['sex']) ? 'checked' : ''}>
          <label for="sex-a">男</label>
          <input name="sex" id="sex-b" value="0" type="radio" {:(isset($map['sex']) && 0 == $map['sex']) ? 'checked' : ''}>
          <label for="sex-b">女</label>
        </fieldset>
      </div>
      <div class="ui-field-contain">
        <fieldset data-role="controlgroup" data-type="horizontal">
          <input name="status" id="status-c" value="-1" type="radio" {:(!isset($map['status']) || -1 == $map['status']) ? 'checked' : ''}>
          <label for="status-c">不限</label>
          <input name="status" id="status-a" value="1" type="radio" {:(isset($map['status']) && 1 == $map['status']) ? 'checked' : ''}>
          <label for="status-a">在职</label>
          <input name="status" id="status-b" value="0" type="radio" {:(isset($map['status']) && 0 == $map['status']) ? 'checked' : ''}>
          <label for="status-b">离职</label>
        </fieldset>
      </div>
      <div class="ui-grid-a">
        <div class="ui-block-a"><input type="button" data-rel="close" value="关闭"></div>
        <div class="ui-block-b"><input type="submit" data-rel="close" value="确定"></div>
      </div>
    </form>
  </div>

  <style type="text/css">
  .my-footer {
    position: fixed;
  }
  .delete-btn {
    position: absolute;
    z-index: 5001;
    width: 20%;
    height: 100%;
    line-height: 100%;
    top: 0;
    right: 0;
    background-color: red;
    opacity: 1;
    display: none; 
  }
  .delete-btn p {
    text-shadow: none;
    font-family: sans-serif;
    color: #fff;
    font-size: 16px !important;
    margin-left: 18px !important;
    margin-top: 56px !important;
  }
  </style>

  <script type="text/javascript">
  /**
   * 下拉到底部获取更多的数据
   * @todo 日后需要把这个自定义的jq方法封装到独立的js文件
   */
 (function($) {
  $.fn.loadMore = function(options) {
      var opts = $.extend(true, {}, $.fn.loadMore.defaults, options);
      if (opts.isLoading) {return true;}  // 防止刷新多次
      $(document).scroll(function() {
        // console.log('workerIndexPage2');
        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
          opts.isLoading = true;
          $.fn.loadMore.showLoadingIcon();
          $.ajax({
            type: opts.type,
            url: opts.url,
            dataType: "json",
            data: {listRows: opts.listRows.val()},
            success: function(datas, status, xmlHttpRequest) {
              $.fn.loadMore.hideLoadingIcon();
              if('' != datas.htmls) {
                opts.listRows.val(datas.listRows);
                opts.element.append(datas.htmls);
              }
              options.isLoading = false;
            },
            error: function(xmlHttpRequest, status, errorMsg) {
              options.isLoading = true;
            }
          });
        }
      });
    };
    /* 默认参数 */
    $.fn.loadMore.defaults = {type: "POST", isLoading: false, listRows: $("#listRows")};
    /* 显示加载图标方法 */
    $.fn.loadMore.showLoadingIcon = function() {
      $.mobile.loading("show", {
        text: 'loading',
        textVisible: false,
        theme: 'b',
        textonly: false,
        html: ''
      });
    };
    /* 隐藏加载图标方法 */
    $.fn.loadMore.hideLoadingIcon = function() {
      setTimeout("$.mobile.loading('hide')", 200);
    };
  })(jQuery);

  $("#workerIndexPage").on('pageinit', function() {
    // console.log('workerIndexPage');
    /* 下拉获取更多数据 */
    var options = {element: $("#workerUl"), url: "{:U('loadMoreToHtml')}"};
    $.fn.loadMore(options);

    /* 长按元素触发删除按钮 */
    var preObj;
    $(document).on("taphold", "#workerUl li", function(event) { // 动态添加的元素js写法
      if(! $.isEmptyObject(preObj)) {
        // 隐藏前一个删除按钮
        preObj.find('.delete-btn').hide();
      }

      // 添加悬浮窗
      var docHeight = $(document).height();
      $('body').append('<div id="overlay"></div>');
      $('#overlay').height(docHeight).css({
        'opacity': 0,
        'position': 'absolute',
        'top': 0,
        'left': 0,
        'background-color': '#000',
        'width': '100%',
          'z-index': 5000 // 保证这个悬浮层位于其它内容之上，删除按钮5001>5000
        });

      $(event.currentTarget).find('.delete-btn').show(600, function() {
        preObj = $(event.currentTarget);
      });
    });

    /* 触摸界面隐藏删除按钮 */
    $(document).on("tap", function() {
      if(! $.isEmptyObject(preObj)) {
        preObj.find('.delete-btn').hide(600);
        preObj = {};  // 重置前对象为空
        $('#overlay').fadeOut(200);
        setTimeout("$('#overlay').remove()", 200);
      }
    });

    /* 点击删除按钮 */
    $(document).on("tap", ".delete-btn", function() {
      var workerId, currentObj = $(this);
      workerId = currentObj.attr('val');
      $.post("{:U('Worker/delete')}", {id: workerId}, function(msg) {
        // 加载效果
        $.mobile.loading("show", {
          text: msg,
          textVisible: true,
          theme: 'b',
          textonly: false,
          html: ''
        });

        $.mobile.loading('hide');

        currentObj.parent("li").animate({
          height: "toggle",
          opacity: "toggle"
        }, 800, "linear", function() {
          $(this).remove();
        });
      });
    });

    /*$("#submitSearch").on("tap", function() {
      $.ajax({
        type: "post",
        url: "",
        data: ,
        success: function(msg) {

        }
      });
    });*/
  });
  </script>

</div>
</block>